<%- include('partials/start.ejs') %>
    <section class="owner-section">
      <h2>Books</h2>
      <p>I have currently published two books on amazon, as I publish more I will add them to this page
		<ul>
			<li><a href="https://www.amazon.com/Egyptian-Revolution-Personal-Account-ebook/dp/B00E7C1LVE/ref=sr_1_fkmr0_1?ie=UTF8&qid=1455215919&sr=8-1-fkmr0&keywords=the+egyptian+revolution+a+personal+perspective&_encoding=UTF8&tag=sheriffadelfa-20&linkCode=ur2&linkId=36f9f9e442e4c511792777e7087590ce&camp=1789&creative=9325">The Egyptian Revolution: A Personal Account</a></li>
        <li><a href="https://www.amazon.com/dp/B0C4H6PJDN?ref_=cm_sw_r_cp_ud_dp_K3TS0CHBC20P155DJPW5&_encoding=UTF8&tag=sheriffadelfa-20&linkCode=ur2&linkId=744a50bc6f331521f075129607e2547a&camp=1789&creative=9325">Introduction to Structured Programming in C</a></li>
 		</ul>
 </p>
    </section>
  <%- include('partials/end.ejs') %>

