<%- include('partials/start.ejs') %>
    <section class="owner-section">
<h2>GPA Calculator</h2>

<div id="inputSection">
  <div id="zeroth">
	<p> Please enter your current GPA and the number of hours you have achieved </p>
        <label for="currentGPA">Current GPA:</label>
        <input type="number" id="currentGPA" name="currentGPA" min="0" max="4.00"><br>
        <label for="currentHours">Total Achieved Hours:</label>
        <input type="number" id="currentHours" name="currentHours" min="0">
   </div>
  <br> 
  <div id="first">
	<p> Please enter the number of new courses you wish to take, then press the Read New Courses Info button. Once the fields for your new courses appear, please enter the credit hours of each course and the grade you expect to get. You can modify all values at any time. But if you change the number of courses, please click on the button to regenerate the fields for the number of courses you want.Please enter all grades in capital (A,A+,B,etc)</p>
        <label for="inpnewCourses">Enter the number of new courses:</label>
        <input type="number" id="inpnewCourses" name="inpnewCourses" />

        <div id="divnewCoursesFields">
                <!-- New course fields will be added here -->
        </div>  


        <button onclick="readNew()">Read New Courses Info</button>
  </div>

  <br>

  <div id="second">
	<p> Repeat the same as above, but for old courses you want to re-register to improve. You need to enter your old grade in addition to the above information. </p>
        <label for="inpoldCourses">Enter the number of old courses:</label>
        <input type="number" id="inpoldCourses" name="inpoldCourses" />

        <div id="divoldCoursesFields">
                <!-- New course fields will be added here -->
        </div>


        <button onclick="readOld()">Read Old Courses Info</button>
  </div>

</div>

<p> Press on this button when you are ready to calculate your GPA</p>
<button onclick="calculateGPA()">Calculate GPA</button>

<p id="newGPA"></p>

<script src="gpaCalculator.js"></script> 

        </section>
 <%- include('partials/end.ejs') %>


