<%- include('partials/start.ejs')%>
    <section class="owner-section">
      <h2>Game</h2>
      <p>These are simple toy JavaScript games I am writing to test the language.</p>
		<ul>
			<li><a href="/space">Very Simple Spaceship Game</a></li>
 		</ul>
 </p>
    </section>
<%- include('partials/end.ejs')%>

