<%- include('partials/start.ejs') %>
    <section class="owner-section">
      <h2>About Me</h2>
      <p>I am Sherif Fadel Fahmy, an associate professor in the Computer Engineer Department of the AASTMT, Sheraton Cairo Branch. I have been the chair of this department since 2016. My research interests are mainly in distributed systems, real-time systems and operating systems. I have also recently forged into the area of machine learning, I try to apply it to my main research interests. My main website is at <a href="https://sheriffadelfahmy.org">Sherif Fadel Fahmy</a>, this is a faster and leaner website containing just my basic information. </p>
    </section>
<%- include('partials/end.ejs') %>