<%- include('partials/start.ejs') %>
    <section class="owner-section">
      <h2>Important Links</h2>
      <ul>
        <li><a href="https://github.com/neotheone1981">Personal GitHub</a></li>
        <li><a href="https://github.com/SherifFadelFahmy">Academic GitHub</a></li>
        <li><a href="https://scholar.google.com/citations?user=Opi9HcEAAAAJ&hl=en">Google Scholar</a></li>
        <li><a href="https://keys.mailvelope.com/pks/lookup?op=get&search=fahmy%40aast.edu">PGP Public Key for fahmy@aast.edu</a></li>
      </ul>

    </section>
<%- include('partials/end.ejs') %>
