<%- include('partials/start.ejs') %>
    <section class="owner-section">
      <h2>Publications</h2>
      <p><strong>Detecting and Preventing for Performance Assessment of IoT Devices Under Dodag Information Solicitation (dis) Attacks</strong>, T Kamal, E Helmy, S Fahmy, MH Abd EL-Azeem, 2023 40th National Radio Science Conference (NRSC) 1, 110-120</p>
      <p><strong>Generative Adversarial Networks as weight generators in ensemble classification</strong>, Asmaa Yehia, SF Fahmy, AF Amin, AIRC 2023.</p>
<p><a href="https://doi.org/10.1016/j.heliyon.2023.e15098">An Ensemble Multi-Stream Classifier for Infant needs Detection</a>, HA Fahmy, SF Fahmy, AADB Garcia, GB Juan, Heliyon, 2023</p>
<p><strong>Spinal Muscle Atrophy Disease Modeling as Bayesian Network, </strong>ME Helal, ME Helal, SF Fahmy, Journal of Physics: Conference Series 2128 (1), 012015, 2021</p>
<p><strong>A hybrid entropy-based DoS attacks detection system for software defined networks (SDN): A proposed trust mechanism</strong> S. F. Fahmy, Nada M. AbdelAzeem, Mohammed Sobh, Ayman Bahaa<br>Egyptian Informatics Journal, (2021)</p>
<p><strong>Emotion detection in infants using an ensemble classifier with a novel member selection technique  
</strong>HA Fahmy, SF Fahmy, AADB Garcia, GB Juan, Proceedings of the 2020 Summer Simulation Conference, 1-9, 2020</p>
<p><strong>More Accurate Estimation of Working Set Size in Virtual Machines</strong><br>S. F. Fahmy, Ahmed Alaa, A. F. Amin<br><em>IEEE Access</em>, (2019)</p>
<p><strong>Throughput and Wasted Work in Contention Management for Software Transctional Memory </strong><br>S. F. Fahmy, Z. Sensousy, A. F. Amin<br><em>ICATAS</em>, (2018)</p>
<p><strong>Providing QoS in Contention Management for Software Transactional Memory</strong><br>S. F. Fahmy, Z. Sensousy, A. F. Amin<br><em>ICENCO</em>, (2017)</p>
<p><a href="https://www.sheriffadelfahmy.org/wp-content/uploads/2018/01/doc-1.pdf">Blockchain and it's uses</a><br>Sherif F. Fahmy<br><em>Self-Published Technical Report</em>, (2017)</p>
<p><strong>Chitosan-tripolyphosphate nanoparticles: Optimization of formulation parameters for improving process yield at a novel pH using artificial neural networks</strong><br>R. A. Hashad and R. A. Ishak and S. Fahmy and S. Mansour and A. S. Geneidi<br><em>International journal of biological macromolecules</em>, (2016)</p>
<p><strong>Lossless Image Compression Using Agglomerative Hierarchical Clustering and the Jensen-Shannon Divergence</strong>,<br>S, Samir, S.F. Fahmy, G. Selim<br><em>ICCTA </em>, (2015)</p>
<p><strong>Improving Tor Performance using Tor Optimizer with reference to Client Experience</strong>,<br>A. Fahmy, S. F. Fahmy, M. AlAmir,<br><em>AEIC</em>, (2014)</p>
<p><strong>Aggregating Local Metrics for Global Trust Calculations in the TOR Network</strong><br>N. Moustafa, S. F. Fahmy, A. Hashad,<br><em>ICCTA</em>, (2014)</p>
<p><strong>MCSAuth: A New Authentication Mechanism for Cloud Systems</strong><br>S. F. Fahmy and G. I. Selim and others<br><em>International Journal of Computer Applications</em>, 88 (2014)</p>
<p><strong>&quot;A New Authentication Mechanism for Cloud System&quot;</strong>,<br>Francois S. Nicola, Sherif F. Fahmy, Gamal M. I. Selim<br><em>Helwan University Engineering Journal</em> 138, (2013)</p>
<p><strong>Implementing distributable real-time threads in the Linux kernel: programming interface and scheduling support</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen,<br><em>Proceedings of the 27th Annual ACM Symposium on Applied Computing</em>, 1771--1778 (2012)</p>
<p><strong>On STM concurrency control for multicore embedded real-time software</strong><br>S. Fahmy and B. Ravindran,<br><em>International Conference on Embedded Computer Systems (SAMOS)</em>, 1--8 (2011)</p>
<p><strong>On real-time transactional contention management on deadline-scheduled multicore systems</strong><br>S. F. Fahmy and B. Ravindran, (2010)</p>
<p><strong>Response time analysis of software transactional memory-based multiprocessor distributed real-time systems</strong><br>S. F. Fahmy and B. Ravindran and E. Jensen, (2010)</p>
<p><strong>Collaborative Scheduling and Synchronization of Distributable Real-Time Threads</strong><br>S. F. Fahmy,PhD Thesis, Virginia Tech (2010)</p>
<p><strong>On bounding response times under software transactional memory in distributed multiprocessor real-time systems</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen<br><em>Proceedings of the Conference on Design, Automation and Test in Europe</em>, 688--693 (2009)</p>
<p><strong>Response time analysis of software transactional memory-based distributed real-time systems</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen<br><em>Proceedings of the 2009 ACM symposium on Applied Computing</em>, 334--338 (2009)</p>
<p><strong>On scalable synchronization for distributed embedded real-time systems</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen,<br><em>Software Technologies for Embedded and Ubiquitous Systems</em>, 394--405 (2008)</p>
<p><strong>On collaborative scheduling of distributable real-time threads in dynamic, Networked Embedded Systems</strong><br>S. Fahmy and B. Ravindran and E. D. Jensen<br><em>Object Oriented Real-Time Distributed Computing (ISORC)</em>, 485--491 (2008)</p>
<p><strong>Fast scheduling of distributable real-time threads with assured end-to-end timeliness</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen,<br><em>Reliable Software Technologies--Ada-Europe 2008</em>, 211--225 (2008)</p>
<p><strong>Scheduling distributable real-time threads in the presence of crash failures and message losses</strong><br>S. F. Fahmy and B. Ravindran and E. D. Jensen,<br><em>Proceedings of the 2008 ACM symposium on Applied computing</em>, 294--301 (2008)</p>
<p><strong>Randomized Real-Time Gossip: Scheduling Distributable Real-Time Threads in Ad Hoc Networks Under Unknown Thread Hops</strong><br>S. Fahmy and B. Ravindran and K. Han and E. Jensen (2008)</p>
<p><strong>Randomized Real-Time Gossip: Scheduling Distributable Threads in Ad Hoc Networks Under Unknown Number of Thread Hops</strong><br>S. Fahmy and B. Ravindran and K. Han and E. Jensen (2008)</p>
<p><strong>Scalable Synchronization and Scheduling of Distributable Real-Time Threads</strong><br>S. F. Fahmy,<br><em>Virginia Polytechnic Institute and State University</em>, (2008)</p>
<p><strong>Scheduling dependent distributable real-time threads in dynamic networked embedded systems</strong><br>S. Fahmy and B. Ravindran and E. D. Jensen<br><em>Distributed Embedded Systems: Design, Middleware and Resources</em>, 171--180 (2008)</p>
<p><strong>Using ears as a biometric for human recognition</strong><br>M. Saleh and S. Fadel and L. Abbott<br><em>Proc. International Conf. on Computer Theory and Applications</em>, 311--314 (2006)</p>

    </section>
 <%- include('partials/end.ejs') %>

