<%- include('partials/start.ejs') %>
    <section class="owner-section">
      <h2>Services</h2>
      <p>These are the services I offer on my website.</p>
		<ul>
			<li><a href="/boundary">Grades boundary checker for AASTMT</a></li>
 		</ul>
	        <ul>
			<li><a href="/mygrades">Check your grades in my course current semester</a></li>
                </ul>
		<ul>
			<li><a href="/dogpa">Calculate the effect of taking courses on your GPA -- AASTMT</a></li>
                </ul>
 </p>
    </section>
<%- include('partials/end.ejs') %>

